# Online Retail Analysis

- This dataset contains information on transactions made by customers through an online retail platform. The data includes information on the products that were purchased, the quantity of each product, the date and time of each transaction, the price of each product, the unique identifier for each customer who made a purchase, and country locations. This dataset can be used to analyze customer behavior and preferences, identify popular products, and optimize pricing and marketing strategies. The dataset is well-suited for data analysis and machine learning applications, as it contains a large volume of transactional data that can be used to train predictive models and make data-driven decisions.

## Team 3 Members:

- Mahabir - Project Manager / Data Architect / Analyst
- Stephen - Project Manager / Data Architect / Analyst
- Adrian - Data Architect / Analyst
- Rana - Data Architect / Analyst
- Tanzila - Data Architect / Analyst

## Objectives

- Assign roles to team
- Obtain the dataset from Kaggle
- Understand dataset and what needs cleaning
- Understand customer behaviour
- Identify popular products
- Identify high value customers
- Identify customer purchasing habits
- Analyse seasonality to identify trends
- Analyse product seasonality
- Identify and analyse sales data
- Create visualisations
- Creat Dashboard
- Create README
- Create presentation

## Inputs

- Dataset obtained from Kaggle - https://www.kaggle.com/datasets/abhishekrp1517/online-retail-transactions-dataset

## Outputs

- Save clean dataset
- Generate visualisation
- Customer models
- Product performance models
- Seasonal trends models
- Top products models
- Sales and Revenue Statistics models
- Dashboard
- presentation

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/Users/stephenbeese/GitHub/Online-Retail-Analysis/Online-Retail-Analysis/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/Users/stephenbeese/GitHub/Online-Retail-Analysis/Online-Retail-Analysis'

- Changing path directory to the dataset.

In [4]:
raw_data_dir = os.path.join(current_dir, 'data_set/raw') #path directory

processed_data_dir = os.path.join(current_dir, 'data_set/processed') #path directory

# ETL

- Load the dataset
- Clean the dataset
- Add Total_transaction_Value
- Convert column into datetime format
- Transform clean dataset

- Import packages

In [5]:
import numpy as np #import numpy
import pandas as pd #import pandas
import matplotlib.pyplot as plt #import matplotlib
import seaborn as sns #import seaborn
import plotly.express as px # import plotly
sns.set_style('whitegrid') #set style for visuals

- Load the dataset

In [6]:
import pandas as pd
df = pd.read_csv(os.path.join(raw_data_dir, 'Online Retail.csv')) #load the dataset
df.head() #displaying data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

---

Identifying the number of duplicates in the dataset

In [7]:
df.duplicated().sum() #check for duplicates

5268

- Removing duplicates from the dataset

In [8]:
processed_data = df.drop_duplicates() #remove duplicates

processed_data.head() #display dataset

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

- Converted datatypes to appropriate types

In [ ]:
processed_data = processed_data.copy() #create a copy of the dataset

# Change datatypes
processed_data['Description'] = processed_data['Description'].astype('string') 
processed_data['InvoiceNo'] = processed_data['InvoiceNo'].astype('string')
processed_data['StockCode'] = processed_data['StockCode'].astype('string')
processed_data['InvoiceDate']= pd.to_datetime(processed_data['InvoiceDate'])
processed_data['CustomerID'] = processed_data['CustomerID'].astype('string')
processed_data['Country'] = processed_data['Country'].astype('string')

# Print the data types to verify changes
processed_data.dtypes

InvoiceNo                  string[python]
StockCode                  string[python]
Description                string[python]
Quantity                            int64
InvoiceDate                datetime64[ns]
UnitPrice                         float64
CustomerID                 string[python]
Country                    string[python]
Total_Transaction_Value           float64
dtype: object

- Removing rows with missing values within the Description column

In [10]:
processed_data = processed_data.dropna(subset=['Description']) #drop rows with missing description

processed_data.isnull().sum() #missing values

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

- Adding a new column called Total_Transaction_value (Quantity*UnitPrice)

In [11]:
processed_data['Total_Transaction_Value'] = processed_data['Quantity'] * processed_data['UnitPrice'] #add new column total transaction value
processed_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total_Transaction_Value
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

- Check for product descriptions which contain lowercase and special characters. Remove these rows from the data as they contain values such as "faulty", "damaged" "?" etc. We identified all incorrect values to contain lower case or special characters.

In [13]:
processed_data.info() #summary of data

<class 'pandas.core.frame.DataFrame'>
Index: 535187 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   InvoiceNo                535187 non-null  string
 1   StockCode                535187 non-null  string
 2   Description              535187 non-null  string
 3   Quantity                 535187 non-null  int64
 4   InvoiceDate              535187 non-null  datetime64[ns]
 5   UnitPrice                535187 non-null  float64
 6   CustomerID               535187 non-null  string
 7   Country                  535187 non-null  string
 8   Total_Transaction_Value  535187 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), string(5)
memory usage: 40.8 MB

- Identify and remove descriptions which contain lowercase

In [14]:
# Remove rows with lowercase letters in 'Description'
processed_data = processed_data[~processed_data['Description'].str.contains(r'[a-z]', na=False)]
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 532161 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   InvoiceNo                532161 non-null  string
 1   StockCode                532161 non-null  string
 2   Description              532161 non-null  string
 3   Quantity                 532161 non-null  int64
 4   InvoiceDate              532161 non-null  datetime64[ns]
 5   UnitPrice                532161 non-null  float64
 6   CustomerID               532161 non-null  string
 7   Country                  532161 non-null  string
 8   Total_Transaction_Value  532161 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), string(5)
memory usage: 40.6 MB

- Identify and remove descriptions which contain "?"

In [15]:
# Remove rows with '?' in 'Description'
processed_data = processed_data[~processed_data['Description'].str.contains(r'\?', na=False)]
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 532105 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   InvoiceNo                532105 non-null  string
 1   StockCode                532105 non-null  string
 2   Description              532105 non-null  string
 3   Quantity                 532105 non-null  int64
 4   InvoiceDate              532105 non-null  datetime64[ns]
 5   UnitPrice                532105 non-null  float64
 6   CustomerID               532105 non-null  string
 7   Country                  532105 non-null  string
 8   Total_Transaction_Value  532105 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), string(5)
memory usage: 40.6 MB

- Save and load the clean dataset

In [16]:
processed_data.to_csv(os.path.join(processed_data_dir,"processed_data.csv"),index=False)#Save cleaed daraset

loaded_data = pd.read_csv(os.path.join(processed_data_dir, "processed_data.csv")) # Load the clean dataset

In [17]:
loaded_data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total_Transaction_Value
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
532100,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20
532101,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60
532102,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60
532103,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60
532104,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---