# **(ADD THE NOTEBOOK NAME HERE)**

## Objectives

* Write your notebook objective here, for example, "Fetch data from Kaggle and save as raw data", or "engineer features for modelling"

## Inputs

* Write down which data or information you need to run the notebook 

## Outputs

* Write here which files, code or artefacts you generate by the end of the notebook 

## Additional Comments

* If you have any additional comments that don't fit in the previous bullets, please state them here.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/Users/stephenbeese/GitHub/Online-Retail-Analysis/Online-Retail-Analysis/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/Users/stephenbeese/GitHub/Online-Retail-Analysis/Online-Retail-Analysis'

In [4]:
raw_data_dir = os.path.join(current_dir, 'data_set/raw')

processed_data_dir = os.path.join(current_dir, 'data_set/processed')

# Section 1

Section 1 content

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
sns.set_style('whitegrid')

In [6]:
import pandas as pd
df = pd.read_csv(os.path.join(raw_data_dir, 'Online Retail.csv'))
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

---

In [7]:
df.duplicated().sum() #duplicated rows

5268

In [10]:
processed_data = df.drop_duplicates() #remove duplicates

processed_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

In [12]:
# df.isnull().sum() #missing values

processed_data = processed_data.dropna(subset=['Description']) #drop rows with missing description

processed_data.isnull().sum() #missing values

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [13]:
processed_data['Total_Transaction_Value'] = processed_data['Quantity'] * processed_data['UnitPrice'] #
processed_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total_Transaction_Value
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [14]:
processed_data['InvoiceDate']= pd.to_datetime(processed_data['InvoiceDate']) 

processed_data.dtypes

InvoiceNo                          object
StockCode                          object
Description                        object
Quantity                            int64
InvoiceDate                datetime64[ns]
UnitPrice                         float64
CustomerID                          int64
Country                            object
Total_Transaction_Value           float64
dtype: object

# Check for lowercase letters

In [15]:
processed_data['Description'] = processed_data['Description'].astype('string')

processed_data.dtypes

InvoiceNo                          object
StockCode                          object
Description                string[python]
Quantity                            int64
InvoiceDate                datetime64[ns]
UnitPrice                         float64
CustomerID                          int64
Country                            object
Total_Transaction_Value           float64
dtype: object

In [16]:
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 535187 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   InvoiceNo                535187 non-null  object
 1   StockCode                535187 non-null  object
 2   Description              535187 non-null  string
 3   Quantity                 535187 non-null  int64
 4   InvoiceDate              535187 non-null  datetime64[ns]
 5   UnitPrice                535187 non-null  float64
 6   CustomerID               535187 non-null  int64
 7   Country                  535187 non-null  object
 8   Total_Transaction_Value  535187 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(3), string(1)
memory usage: 40.8+ MB

In [ ]:
# Remove rows with lowercase letters in 'Description'
processed_data = processed_data[~processed_data['Description'].str.contains(r'[a-z]', na=False)]
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 532161 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   InvoiceNo                532161 non-null  object
 1   StockCode                532161 non-null  object
 2   Description              532161 non-null  string
 3   Quantity                 532161 non-null  int64
 4   InvoiceDate              532161 non-null  datetime64[ns]
 5   UnitPrice                532161 non-null  float64
 6   CustomerID               532161 non-null  int64
 7   Country                  532161 non-null  object
 8   Total_Transaction_Value  532161 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(3), string(1)
memory usage: 40.6+ MB

In [ ]:
# Remove rows with '?' in 'Description'
processed_data = processed_data[~processed_data['Description'].str.contains(r'\?', na=False)]
processed_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 532105 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   InvoiceNo                532105 non-null  object
 1   StockCode                532105 non-null  object
 2   Description              532105 non-null  string
 3   Quantity                 532105 non-null  int64
 4   InvoiceDate              532105 non-null  datetime64[ns]
 5   UnitPrice                532105 non-null  float64
 6   CustomerID               532105 non-null  int64
 7   Country                  532105 non-null  object
 8   Total_Transaction_Value  532105 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(3), string(1)
memory usage: 40.6+ MB

# Section 2

Section 2 content

---

NOTE

* You may add as many sections as you want, as long as it supports your project workflow.
* All notebook's cells should be run top-down (you can't create a dynamic wherein a given point you need to go back to a previous cell to execute some task, like go back to a previous cell and refresh a variable content)

---